 
 .container-nav {
   width: 100%;
  margin: 0 80px auto;
}
 .nav {
   padding: 50px 0px;
  &__wrap {
    display: flex;
    justify-content: space-between;
  }
 }


//! Menu burger

  $color-one: #34495E;
  $color-two: #1F3F68;
  $color-three: #C0392D;
  $color-four: #98C3E8;


* {
	box-sizing: border-box;
}

body {
  text-decoration: none;
}

#menu {
	background: $color-four;
	width: 100vw;
	height: auto;
	padding: 50px 0;
	color: $color-two;
	display: flex;
	visibility: visible;
	opacity: 1;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	border-radius: 3px;
	transition: all 500ms ease-in-out;
	position: fixed;
	top: -300vh;
	right: 0px;
	z-index: 9;
	&.active {
		top: 0;
	}
	ul {
		list-style-type: none;
		padding: 0;
		li {
      margin: 10px 0;
      a {
        font-weight: 700;
        font-size: 18px;
      }
		}
	}
}

#toggle {
	position: relative;
	width: 40px;
	height: 36px;
	right: 20px;
	top: 20px;
	transition: all 500ms ease-in-out;
	z-index: 10;
	input {
		position: absolute;
		top: -3px;
		left: -3px;
		width: 100%;
		height: 100%;
		z-index: 1;
		opacity: 0;
		cursor: pointer;
		&:checked {
			+ span {
				background: transparent;
				left: 0;
				&:after {
					transform: rotate(45deg) translate(-1px, -10px);
					left: -7px;
					background: #fff;
				}
				&:before {
					transform: rotate(-45deg) translate(-4px, 13px);
					left: -7px;
					background: #fff;
				}
			}
		}
	}
	span {
		position: absolute;
		width: 100%;
		height: 3px;
		background: #356EAD;
		margin-top: 10px;
		transition: all 0.1s;
		left: 0;
		&:before, &:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 3px;
			background: #356EAD;
			top: -9px;
			left: 0;
			transition: all 0.3s;
		}
		&:after {
			top: 10px;
		}
	}
}